.ButtonCategory{
  background: #ffffff;
  padding: .3rem 1.2rem;
  border: none;
  border: solid 1px #b6b5b5;
  border-radius: 20px;
  margin: .2rem ;
}

.ButtonCategory:hover{
  color: #0082FF;
  border-color: #0082FF;
  cursor: pointer;
}
