.containerButtons {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 .2rem 1rem ;
  margin: 0 0 2rem;
  border-bottom: 1px solid rgb(195, 195, 195);
}


.containerSelecao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSelecao{
  font-weight: 500;
  padding: 0 10px 3px;
}
.boxSelecao{
border-radius: 10px;
padding: .3rem;
}
.nomeSelecao{

}




@media (max-width:890px) {
  .containerButtons {
    gap: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .containerSelecao{
    padding: 0 1rem;
    align-self: end;
  }
}

