@import './reset.css';

body {
  color: #1C3C50;
}

body .buttonAtivo {
  background-color: #0082FF;
  border: none;
  color: #fff;
  border: solid 1px #0082FF;
  ;
}

body .buttonAtivo:hover {
  color: #fff;
  cursor: pointer;
  border: solid 1px #0082FF;
}

body .ativaCard {
  color: #0081FF;

}

body span.desativado {
  display: none;
}

span.ativaCard {
  text-align: center;
  right: 0px;
  z-index: 1;
  font-size: 3rem;
  background: #0080ff28;
  padding: 78px;
  width: 206px;
  justify-content: center;
  align-items: center;
  display: inline;
  position: absolute;
  color: white;

}