body .buttonAtivo {
  background-color: #0082FF;
  border: none;
  color: #fff;
  border: solid 1px #0082FF;
  ;
}

:root .buttonAtivo:hover {
  color: #fff;
  cursor: pointer;
  border: solid 1px #0082FF;
}